services:
  app:
    build: .
    container_name: forum_app
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - forum_network
    ports:
      - "3000:3000"
    volumes:
      - .:/app

  db:
    image: postgres:15
    container_name: forum_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - forum_network

networks:
  forum_network:

volumes:
  postgres_data:
